datasets/
runs/
__pycache__/
.DS_Store
.mypy_cache/
.vscode/
logs/

MNIST.ipynb
MNIST_denoise.ipynb
MNIST_denoise_copy.ipynb
main_class_all.py
evaluation_class_all.ipynb
src.py

*.sbatch
*.out
*.pt
*.txt
*.pkl
*.png
pyrightconfig.json